@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");
@font-face {
    font-family: "Poppins";
    src: url(../public/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: "Poppins-regular";
    src: url(../public/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins-extra";
    src: url(../public/fonts/Poppins-ExtraBold.ttf);
}

body {
    background-color: gray;
}


@layer utilities {
    .font_b {
        font-family: "Poppins";
    }
    .font_r {
        font-family: "Poppins-regular";
    }
    .font_e {
        font-family: "Poppins-extra";
    }
}
